page-login {
  .logo-image {
    align-items: center;
    width: auto;
    margin-left: 40%;
    margin-top: 10%;
  }
  ion-content {
    background-image: url('./assets/images/background.jpg');
  }
}
